*, *::before, *::after {
    box-sizing: border-box;
}
body{
    background-color:#fafafa;
    padding: 1rem;
}
.container{
    background-color: #fafafa;
    padding: 2rem;
    font-size: 1rem;
}
.row {
    padding: 1rem;
}
.resume-title{
    color: #1c90c2;
    font-size: 3em;
}
.resume-short-summary{
    color: #3f3e3e;
    font-size: 1.5em;
}
.resume-icons {
    color:#1c90c2
}
.resume-links{
    color:#000000;
    font-size: 0.9rem;
}
.center-text{
    text-align: center;
}
.text-align-right {
    text-align: right
}
.border-top{
    border-top: 1px solid lightgray;
}
.border-bottom{
    border-bottom: 1px solid lightgray;
}
.border-left{
    border-left: 1px solid lightgray;
}
.exp {
    font-size: 0.9rem;
    color: #3f3e3e;
}
.item-heading-title{
    font-size: 1.1rem;
    font-weight: bold;
}
.cert-item-heading{
    font-size: 1rem;
    font-weight: bold;
}
.cert-item-content{
    font-size: 0.9rem;
    color: #3f3e3e;
}
h4{
    color: #2D728F;
}
.resume-long-summary{
    padding-top: 1.5rem;
    color: #3f3e3e;
}
.work-short-desc {
    margin-left: 1rem;
    margin-top: -1rem;
    color: #3f3e3e;
    font-size: 0.9rem;
}

ul li {
    color: #3f3e3e;
}

.sub-skill-title {
    font-weight: bold;
}
.sub-skills {
    color: #3f3e3e;
    font-size: 0.9rem;
}
.work-desc {
    font-size: 0.9rem;
}